# -*- bash -*-

# use doas instead of sudo
if command -v doas &> /dev/null; then
	alias sudo="doas"
else
	alias doas="sudo"
fi

# use neovim instead of vim if nvim is installed
# we also correct common spelling mistakes.
if command -v nvim &> /dev/null; then
	alias vi="nvim"
	alias vim="nvim"
	alias vmi="nvim"
else
	alias vi="vim"
	alias vmi="vim"
fi

# make programs verbose
alias \
	cp="cp -v" \
	ln="ln -v" \
	mv="mv -v" \
	rm="rm -v" \
	rsync="rsync -v" \
	ls="ls --color=always "

# add color support to grep and others
alias \
	dir='dir --color=always' \
	egrep='grep -E --color=always' \
	fgrep='grep -F --color=always' \
	grep='grep --color=auto' \
	less="less -RS" \
	vdir='vdir --color=always'

# easier directory navigation
alias \
	cd1='cd ..' \
	cd2='cd ../..' \
	cd3='cd ../../..'

# program & system utils
alias \
	measure-power="doas powerstat -cDgHRt"

# shell QoL
alias \
	f="cd \$(find * -type d | fzf --style=full)"

# MacOS aliases
# alias \
# 	units='gunits'

# AI misc
alias \
	claude-profile1='open -n -a "/Applications/Claude.app" --args --user-data-dir="$HOME/Library/Application Support/Claude1"' \
	claude-profile2='open -n -a "/Applications/Claude.app" --args --user-data-dir="$HOME/Library/Application Support/Claude2"' \
	openclaw='ssh -L 18789:localhost:18789 openclaw'

# programs
# alias \
# 	rain='~/go/bin/rain'

# Video4Linux2 virtual webcam settings
# check out https://github.com/umlaeute/v4l2loopback/wiki/GStreamer for more
# alias \
# 	fakecam-snow='gst-launch-1.0 -v videotestsrc pattern=snow ! "video/x-raw,width=640,height=480,framerate=15/1,format=YUY2" ! v4l2sink device=/dev/video2' \
# 	fakecam-smpte='gst-launch-1.0 -v videotestsrc pattern=smpte horizontal-speed=1 ! "video/x-raw,width=1280,height=720,framerate=30/1,format=YUY2" ! v4l2sink device=/dev/video2' \
# 	fakecam-desktop="gst-launch-1.0 -v ximagesrc startx=1 starty=1 endx=320 endy=240 ! videoconvert ! "video/x-raw,format=YUY2" ! v4l2sink device=/dev/video2" \
# 	fakecam-video="ffmpeg -stream_loop -1 -re -i CHANGEME -map 0:v -vf format=yuv420p -f v4l2 /dev/video2" \
# 	start-fakecam='doas modprobe v4l2loopback devices=1 exclusive_caps=1 video_nr=2 card_label="Virtual camera"' \
# 	webcam-inc-contrast="v4l2-ctl --set-ctrl contrast=35" \
# 	webcam-dec-contrast="v4l2-ctl --set-ctrl contrast=0" \
# 	webcam-inc-brightness="v4l2-ctl --set-ctrl brightness=85" \
# 	webcam-dec-brightness="v4l2-ctl --set-ctrl brightness=0" \
# 	webcam-inc-saturation="v4l2-ctl --set-ctrl saturation=80" \
# 	webcam-dec-saturation="v4l2-ctl --set-ctrl saturation=0" \
# 	webcam-inc-sharpness="v4l2-ctl --set-ctrl sharpness=7" \
# 	webcam-dec-sharpness="v4l2-ctl --set-ctrl sharpness=2"
