# use doas instead of sudo
[ $(which doas) ] && alias sudo="doas"

# use neovim instead of vim if nvim is installed
[ $(which nvim) ] && alias vim="nvim" && alias vmi="nvim" || alias vmi = "vim"

# make programs verbose
alias \
	cp="cp -v" \
	ln="ln -v" \
	mv="mv -v" \
	rm="rm -v" \
	rsync="rsync -v" \
	su="su -l" \
	LS="sl -alc" \
	sl="sl -alc" \
	less='less -RS' \
	ls="ls --group-directories-first --color=always"

# add color support to grep and others
alias \
	grep='grep --color=auto' \
	vdir='vdir --color=always' \
	egrep='egrep --color=always' \
	fgrep='fgrep --color=always'
	dir='dir --color=always' \

# miscellaneous
alias \
	debug="valgrind --tool=memcheck --leak-check=yes --leak-check=full --show-reachable=yes --leak-resolution=high --trace-children=yes --track-origins=yes -s" \
	java="/opt/openjdk-jre-bin-11.0.13_p8/bin/java" \
	mail="neomutt" \
	mpv-hi="mpv --opengl-glfinish=yes --opengl-swapinterval=0 --vo=gpu --hwdec=vaapi --opengl-pbo" \
	neofetch="neofetch --color_blocks off" \
	n="nnn -e" \
	nnn="nnn -e" \
	poweroff='doas /sbin/poweroff' \
	reboot='doas /sbin/reboot' \
	rot13='tr a-zA-Z n-za-mN-ZA-M' \
	steam="flatpak run com.valvesoftware.Steam" \
	surf="tabbed -c surf -BNPTeg & disown" \
	vimpager='/usr/share/vim/vim82/macros/less.sh' \

# Video4Linux2 virtual webcam settings
# check out https://github.com/umlaeute/v4l2loopback/wiki/GStreamer for more
alias \
	fakecam-snow='gst-launch-1.0 -v videotestsrc pattern=snow ! "video/x-raw,width=640,height=480,framerate=15/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-smpte='gst-launch-1.0 -v videotestsrc pattern=smpte horizontal-speed=1 ! "video/x-raw,width=1280,height=720,framerate=30/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-desktop="gst-launch-1.0 -v ximagesrc startx=1 starty=1 endx=320 endy=240 ! videoconvert ! "video/x-raw,format=YUY2" ! v4l2sink device=/dev/video2" \
	fakecam-video="ffmpeg -stream_loop -1 -re -i CHANGEME -map 0:v -vf format=yuv420p -f v4l2 /dev/video2" \
	start-fakecam='doas modprobe v4l2loopback devices=1 exclusive_caps=1 video_nr=2 card_label="Virtual camera"' \
	webcam-inc-contrast="v4l2-ctl --set-ctrl contrast=35" \
	webcam-dec-contrast="v4l2-ctl --set-ctrl contrast=0" \
	webcam-inc-brightness="v4l2-ctl --set-ctrl brightness=85" \
	webcam-dec-brightness="v4l2-ctl --set-ctrl brightness=0" \
	webcam-inc-saturation="v4l2-ctl --set-ctrl saturation=80" \
	webcam-dec-saturation="v4l2-ctl --set-ctrl saturation=0" \
	webcam-inc-sharpness="v4l2-ctl --set-ctrl sharpness=7" \
	webcam-dec-sharpness="v4l2-ctl --set-ctrl sharpness=2" \

# mining
alias \
	benchmark='doas ./randomx_booster.sh; doas xmrig --bench=1M --submit -t 4 --randomx-1gb-pages --cpu-no-yield --cpu-priority 5 --randomx-mode fast --asm intel --randomx-no-numa --no-color --cpu-affinity 0xFF -a rx/0' \
	build-xmrig='cd ~/software/xmrig; mkdir build; cd build; rm -rf *; cmake -DCMAKE_BUILD_TYPE=Release -DWITH_CN_LITE=OFF -DWITH_CN_HEAVY=OFF -DWITH_CN_PICO=OFF -DWITH_CN_FEMTO=OFF -DWITH_ASTROBWT=OFF -DWITH_KAWPOW=OFF -DWITH_GHOSTRIDER=OFF -DWITH_NVML=OFF -DWITH_ADL=OFF -DWITH_SECURE_JIT=ON -DWITH_SSE4_1=ON -DWITH_HWLOC=ON -DWITH_TLS=ON -DWITH_OPENCL=OFF -DWITH_CUDA=OFF -DCMAKE_C_FLAGS="${CMAKE_C_FLAGS} -Ofast -pipe -march=haswell -mtune=haswell -fno-plt -falign-functions=32 -flto=4 -fgraphite-identity -floop-nest-optimize -fipa-pta -fno-semantic-interposition -fno-common -fno-math-errno -fno-trapping-math -fno-signed-zeros -fno-trapping-math -fassociative-math -freciprocal-math -fno-math-errno -ffinite-math-only -fno-rounding-math -fno-signaling-nans -fcx-limited-range -fexcess-precision=fast -fdevirtualize-at-ltrans" -DCMAKE_CXX_FLAGS="${CMAKE_CXX_FLAGS} ${CMAKE_C_FLAGS}" ..; cmake --build .; doas install -Dm775 xmrig /usr/bin/xmrig' \
	mine-xmrig='doas ~matteo/software/xmrig/scripts/randomx_boost.sh; doas schedtool -a 0x255 -n -20 -e xmrig -o de.minexmr.com:4444 -u CHANGEME+180000 -k --rig-id matteo --randomx-1gb-pages --cpu-no-yield --cpu-priority 5 --randomx-mode fast --asm intel --randomx-no-numa --no-color --print-time 120 --cpu-affinity 0x255 -a rx/0 -t 4 --huge-pages-jit --argon2-impl=AVX2'

# others
alias \
	indent-sm="indent -bad -bap -bbo -blf -br -brs -c33 -cbi0 -cd33 -ce -ci4 \
			  -cli0 -cp33 -d0 -di1 -hnl -i8 -il1 -ip5 -l80 -lp -nbc -ncdb -ncs -nfca \
			  -nfc1 -nsc -npcs -nprs -psl -saf -sai -saw -ss -sob -ts8 -ut" \
